*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }

.body{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    
    background-color: aliceblue;     
}

#menu{
    background-color: burlywood;
    font-family: 'Josefin Slab', serif;
}

#menu li{
    font-weight: 800;
    color: black;
    font-size: 20px;
}

/*HEADER*
.body .header{
    display: grid;
    grid-template-areas: "logo   nav-bar   nav-bar";
    height: 100px;
    font-family: 'Josefin Slab', serif;
}
/*HEADER-LOGO*
.body .header .logo{
    background-color: burlywood;
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.body .header .logo h1{
    margin-left: 10px;
    font-size: 28px;
    width: 90px;
    
}

/*HEADER-NAV-BAR*
.body .header .nav-bar{
    background-color: burlywood;
    grid-area: nav-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.body .header .nav-bar li{
    margin: auto;
    margin-top: 57px;
    list-style: none;
    font-weight: 900;
    font-size: 18px;
}
/*END-HEADER*/

/*MAIN*/
.body .main .vacio{
    background-image:linear-gradient(rgba(16, 16, 16, 0.264), rgba(16, 16, 16, 0.461)), url(img/fondo-grande.jpg) ;
    background-size: cover;
    max-width: 100%;
    background-position: center center;
    display: grid;
    height: 400px;
}

.body .main .content{
    background-color: antiquewhite;
    display: grid;
    font-family: 'Oswald', sans-serif;
    min-height: 500px;
    
}

.info-content{
    display: grid;
}
.main{
    background-color: antiquewhite;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    min-height: 40px;
    margin-top: 10px;
}
.parrafo{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 19px;
}
.img-tres{
    max-width: 450px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*.body .main .content .img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.body .main .content .img .img-uno{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
}

.body .main .content .img .img-dos{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
/*
.btn{
    text-align: center;
}
*/
.info-content{
    background-color: antiquewhite;
}
.body .main .content .info-content .maps{
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto;
}
.body .main .content .info-content .tel{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    clor: rgb(148, 41, 41);
    text-decoration: none;
    color: black;
}

body .main .content .info-content-dos{
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo"
                         ".      jue    vie         ."
                         ".      sab    dom         .";
    margin: 10px;
    margin-bottom: 80px;
    justify-content: center;
}

.body .main .content .info-content-dos .titulo{
    font-family: 'Josefin Slab', serif;
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.body .main .content .info-content-dos .jue{
    grid-area: jue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    min-width: 200px;
    border-top-left-radius: 10px;
    text-decoration: none;
    color: black;
}
.body .main .content .info-content-dos .vie{
    grid-area: vie;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    min-width: 200px;
    border-top-right-radius: 10px;
    text-decoration: none;
    color: black;
}
.body .main .content .info-content-dos .sab{
    grid-area: sab;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    min-width: 200px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
    color:black ;
}
.body .main .content .info-content-dos .dom{
    grid-area: dom;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    min-width: 200px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    color: black;
}

.body .main .content .info-content-tres{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .main .content .info-content-tres .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    min-height: 40px;
    grid-area: titulo;
}

.body .main .content .info-content-tres form{
    width: 500px;

}

.body .main .content .info-content-tres form label{
    display: block;
}
  
.body .main .content .info-content-tres form p{
    padding: 1em;
}


.body .main .content .info-content-tres form button, 
.body .main .content .info-content-tres form input{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 2px solid rgb(221, 170, 103);
}

.body .main .content .info-content-tres form button {
    background: burlywood;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

/*END-MAIN*/



footer{
	background-color: burlywood;
	height: 100%;
    padding: 15px;
}

footer .text{
    color: black;
}
/*
.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}

/*FOOTER*
.body .footer{
    background-color: burlywood;
    height: 12vh;
    display: flex;
    align-items: center;
}
.body .footer .derechos{
    margin-left: 15px;
    font-weight: 100;
}


/*END-FOOTER*

@media screen and (min-width:700px){
    .body .header .nav-bar{
        justify-content: flex-end;
    }
    .body .header .nav-bar li{
        margin: auto 20px;
        margin-top: 57px;
    }
}
*/
@media screen and (min-width:800px){
    .body .main .content .info-content-tres form button:hover,
    .body .main .content .info-content-tres form button:focus{
    background: rgb(218, 169, 105);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
    }
    .body .main .content .info-content-dos .jue:hover{
        background-color: burlywood;
        transition: .3s;
    }
    .body .main .content .info-content-dos .vie:hover{
        background-color: burlywood;
        transition: .3s;
    }
    .body .main .content .info-content-dos .sab:hover{
        background-color: burlywood;
        transition: .3s;
    }
    .body .main .content .info-content-dos .dom:hover{
        background-color: burlywood;
        transition: .3s;
    }
    .body .main .vacio{
        height: 600px;
    }
}

@media screen and (min-width:950px){
    .body .main .vacio{
    height: 700px;
    }
    /*.body .main{
        grid-template-areas: "vacio vacio vacio"
                             ". content .";
    }
    .body .main .vacio{
        height: 300px;
        grid-area: vacio;
    }
    .body .main .content{
        min-height: 400px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 170px;
        grid-area: content;
    }*/
}